{{- if .Values.journeyPlanner.enabled }}
apiVersion: v1
data:
  otp-config.json: |+
   {
      "otpFeatures": {
        "ActuatorAPI": true,
        "Emission" : {{  .Values.configuration.emission }},
        "EmpiricalDelay": {{ .Values.configuration.empiricalDelay }},
        "FlexRouting": {{ .Values.configuration.flexRouting }},
        "FloatingBike": {{ .Values.configuration.floatingBike }},
        "GtfsGraphQlApi": {{ .Values.configuration.gtfsGraphQlApi }},
        // TODO Remove "IncludeEmptyRailStopsInTransfers", when
        // "IncludeStopsUsedRealTimeInTransfers" has been is production for a week
        "IncludeEmptyRailStopsInTransfers" : true,
        // Will be used when PR 7042 Missing transfers is merged
        "IncludeStopsUsedRealTimeInTransfers" : true,
        "MultiCriteriaGroupMaxFilter" : true,
        "OptimizeTransfers": {{ .Values.configuration.optimizeTransfers }},
        "ParallelRouting": {{ .Values.configuration.parallelRouting }},
        "ReportApi": true,
        "Sorlandsbanen" : {{ .Values.configuration.sorlandsbanen }},
        "TransferConstraints": {{ .Values.configuration.transferConstraints }},
        "CarPooling": {{ .Values.configuration.carpooling }},
        "HttpResponseTimeMetrics": true
      }
   }
kind: ConfigMap
metadata:
  name: otp2-feature-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | indent 4 }}
{{- end }}
