<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/tmp/quay-test-debug.log</file>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] (%F:%L) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="FILE" />
  </appender>

  <root level="info">
    <appender-ref ref="ASYNC" />
  </root>

  <!-- Enable debug logging for DefaultTripUpdateApplier -->
  <logger name="org.opentripplanner.updater.trip.DefaultTripUpdateApplier" level="debug" />
  <logger name="org.opentripplanner.updater.trip.siri" level="debug" />

  <logger name="ch.qos.logback" level="error"/>
  <logger name="org.onebusaway.gtfs.impl.calendar.CalendarServiceDataFactoryImpl" level="warn" />
  <logger name="org.opentripplanner.graph_builder.linking.SimpleStreetSplitter" level="error" />
</configuration>
